<div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
                <h3 class="panel-title">List Users</h3>
        </div>
        <div class="panel-body">
             <table class="table table-bordered table-hover">
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Age</th>
                         <th>City</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr ng-repeat="user in users">
                         <td>{{ user.age }}</td>
                         <td> {{ user.age }}</td>
                         <td> {{ user.city }}</td>
                     </tr>
                 </tbody>
             </table>
             <div class="col-xs-3">
                    <button type="button" ng-click="save()" class="btn btn-md btn-info">Save</button>
                    <button type="button" ng-click="cancel()" class="btn btn-md btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>